body{
    background: #fff;
}
/* Header */
#header_area{
    background: #f8f9fa;
    padding: 20px 0;
    /* box-shadow: 0 2px 5px rgba(0,0,0,0.1); */
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: 0.5s ease;
}
.main_header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo_area img{
    width: 50%;
}
.menu_area ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu_area ul li{
    margin: 0 10px;
}
.menu_area ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.menu_area ul li a:hover{
    color: #007BFF;
}

.login_area a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 8px 15px;
    border: 1px solid #007BFF;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    background: #007BFF;
}
.login_area a:hover{
    background: #000;
}
#lbtn{
    background: none;
    color: #000;
}
#lbtn:hover{
    background: #007BFF;
    color: #fff;
}
/* Dropdown Menu */
.menu_area ul li ul{
    display: none;
    position: absolute;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 10px;
    z-index: 1000;
}
.menu_area ul li:hover ul{
    display: block;
}
.menu_area ul li ul li{
    margin: 0;
}
.menu_area ul li ul li a{
    color: #000;
    padding: 5px 10px;
    display: block;
}
.menu_area ul li ul li a:hover{
    background: #007BFF;
    color: #fff;
}

/* Icon Box */
.icon_box{
    cursor: pointer;
    font-size: 22px;
    z-index: 1000;
}
.search_area{
   position: absolute;
   top: 110%;
   right: -100%;
}
.search_area.active{
    right: 1rem;
    transition: 0.2s;
}
.search_area input[type="text"]{
    padding:0 10px;
    border: none;
    border-bottom: 1px solid #007BFF;
    outline: none;
    transition: border-color 0.3s;
    padding: 10px;
}
.search_area button{
    background: none;
    color: #000;
    border: none;
    font-size: 22px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

/* 404 Page */
.sub_not_found{
    text-align: center;
    padding: 50px 0;
}
.sub_not_found h1{
    font-size: 50px;
    color: #007BFF;
}
.sub_not_found h2{
    font-size: 30px;
    color: #000;
    margin-bottom: 40px;
}
.sub_not_found a{
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    padding: 10px 20px;
    border: 1px solid #007BFF;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}
.sub_not_found a:hover{
    background: #007BFF;
    color: #fff;
}

/* Coppyright  */
.coppyright_atra{
    text-align: center;
    padding: 20px 0;
    background: #5c5756;
    color: #fff;
    font-size: 14px;
}
/* Footer */


/* Widgets */
.widgets_area{
    background: #f8f9fa;
}
.widgets_area .col-md-4 img{
    width: 40%;
}
.widgets_area .col-md-4 ul{
    list-style: none;
    padding: 0;
    margin: 0 10px;
    text-align: left;
}
.widgets_area .col-md-4 ul li{
    margin: 10px 0;
}
.widgets_area .col-md-4 ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.widgets_area .col-md-4 h2{
    font-size: 30px;
}

#contant_area .col-md-12{
    margin-top: 100px;
}

#sorry_for{
    text-align: center;
    padding: 50px 0;
    font-size: 40px;
    color: red;
}

/* Home Page */
#home_area1{
    padding-top: 100px;
}